Transcript_Summarisation_Python_.json
{
  "name": "Transcript_Summarisation(Python)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "606a7bdd-a2e2-4cf5-9401-8c9d7f15fa07",
      "name": "When chat message received",
      "webhookId": "5d5a5446-7f14-4aa8-bfd1-03e25e412fc7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Agent, specialised in document processing. Please help me to summarise the subtitle of a Youtube Video, making it a manual for others to re-build the process.\n\nThe input is:  {{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "24b4f2c7-7db5-4cfc-8350-ce41cdf8ffcb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        528,
        220
      ],
      "id": "89a7be8e-e4c3-4217-8bd5-d2a9a6359454",
      "name": "Ollama Chat Model",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "prWlY9QJfmHjC3GZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('When chat message received').item.json.chatInput }}.md",
        "dataPropertyName": "=data",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1036,
        0
      ],
      "id": "561d9565-cf17-42b8-9917-7f6e3c49fbfe",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "096557e1-9cbd-450e-9eb6-0077586e1a5a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qj34VRfmX4Jj4ZOo",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "name": "Call Get subtitle - Python",
      "id": "f2e59c49-ac49-42ba-b185-0b68f16c4d83"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Call Get subtitle - Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get subtitle - Python": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10c65e39-c558-48f5-9c1d-9f7bd8e34604",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af69c3a4f4904570a9e590cc60e69a2eb5a9cb5718e67365be3119309ab30188"
  },
  "id": "3z7ycu8VyZjCL1sP",
  "tags": []
}